*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #0A3EA6;
    height: 115px;
    padding-top: 15px;
}
header h1{
    font-size: 3.7em;
    width: 250px;
    margin: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #0487D9;
    border-radius: 40px;
}
header h1 span{
    color: #BFBFBD;
}
nav{
    margin-top: 12px;
    text-align: center;
}
ul li{
    border-radius: 10px 20px 0px 20px;
    padding: 5px;
    background-color: #0487D9;
    text-align: center;
    display: inline;
    
}
ul li a{
    text-decoration: none;
    padding: 10px;
    font-size: 1.1em;
    color: whitesmoke;
}
li:hover{
    background-color: black;
    border: 1px solid yellow;
}