*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: azure;
}
/*cabecalho*/

header{
    background-color: #0A3EA6;
    height: 115px;
    padding-top: 15px;
    min-width: 478px;
    margin-bottom: 20px;
}
header h1{
    font-size: 3.7em;
    width: 250px;
    margin: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #0487D9;
    border-radius: 40px;
}
header h1 span{
    color: #BFBFBD;
}
nav{
    margin-top: 12px;
    text-align: center;
}
ul li{
    border-radius: 10px 20px 0px 20px;
    padding: 5px;
    background-color: #0487D9;
    text-align: center;
    display: inline;
    
}
ul li a{
    text-decoration: none;
    padding: 10px;
    font-size: 1.1em;
    color: whitesmoke;
}
li:hover{
    background-color: black;
    border: 1px solid yellow;
}

/*principal*/

main{
    width: 90%;
    margin: auto;
    min-width: 470px;
}
#noticia{
    padding: 0px 20px;
    background-color: white;
    float: left;
    width: 60%;
    border-radius: 20px;
}
#noticia h1{
    color: #011a3a;
    
}
main div img{
    margin-top: 25px;
    width: 100%;
    border-radius: 20px;
}
aside{
    width: 30%;
    float: right;
}
.bloco1{
    border-radius: 20px;
    padding: 5px;
    background-color: white;
    margin-bottom: 25px;
}
.bloco1 h2{
    border-radius: 10px 20px 20px 0px;
    color: #011a3a;
    text-indent: 12px;
    line-height: 35px;
    font-size: 20px;
    background-color: #07418c44;
}
.clear{
    clear: both;
}